/* Estilo de cor de fundo para a aplicação */
body {

    background-color: rgba(236, 243, 243, 0.781) !important;

}

/* Estilo de cor de fundo para as modais */
.bg-modal {

    background-color: rgba(236, 243, 243) !important;

}

/* Estilos para fixar tamanho do formulário de login */
.formulario-login {

    width: 23.7rem;

}

/* Estilos para fixar tamanho dos botões */
.btn-fixed-size {

    width: 8em;

}

/* Estilos padrão para as imagens */
.cabecalho img {

    max-width: 100%;
    height: auto;

}

/* Estilos padrão para tamanho dos cards no painel*/
.card-painel {

    height: 25rem;

}

/* Estilos para dispositivos com largura até 280px */
@media screen and (max-width: 280px) {

    .cabecalho img {
        height: 3.1rem;
    }

    .card-painel {
        height: 30rem;
    }

}

/* Estilos para dispositivos com largura entre 281px e 1024px */
@media screen and (min-width:281px) and (max-width: 1024px) {

    .cabecalho img {
        height: 4.6rem;
    }

}