body {
    background-color: rgba(236, 243, 243, 0.781) !important;
}

.bg-modal {
    background-color: rgba(236, 243, 243) !important;
}

.bg-icon-card-painel {
    background-color: rgb(197, 225, 212) !important;
}

.pagina-login {
    margin-top: 90px;
    margin-bottom: 90px;
}

.btn-fixed-size {
    width: 8em;
}

/* max-width  */
@media screen and (max-width: 600px) {
    .logo-corre {
        width: 65%;
    }

    .logo-ifto {
        width: 65%;
    }
}

/* min-width & max-width */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .logo-corre {
        width: 75%;
    }

    .logo-ifto {
        width: 75%;
    }
}

/* max device width */
@media screen and (max-device-width: 480px) {
    .logo-corre {
        width: 65%;
    }

    .logo-ifto {
        width: 65%;
    }
}